<%= form_for(@url) do |f| %>
	<% if  @url.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize( @url.errors.count, "error") %> prohibited this url from being saved:</h2>

			<ul>
			<% @url.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

<%= hidden_field_tag 'token', @url.token %>
	<div class="field">
		<%= f.label :enter_url %>
		<%= f.text_area(:link, rows: 1,cols: 60, data: {provide: "markdown"})%>
	</div>
<br>
<br>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
